# Apis - At least one of the following API keys must be provided for the application to function properly.
WHATSAPP_API_KEY=your_whatsapp_api_key
TELEGRAM_API_KEY=your_telegram_api_key

# Database - Connection string for the database. Replace with your actual connection string.
MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<database_name>?authSource=admin

# MongoDB - Database credentials and name. Replace with your actual credentials and database name.
MONGO_INITDB_ROOT_USERNAME=your_mongodb_username
MONGO_INITDB_ROOT_PASSWORD=your_mongodb_password
MONGO_INITDB_DATABASE=your_database_name
