# APIs - at least one of the following API keys must be provided for the application to function properly.
WHATSAPP_API_KEY=
WHATSAPP_PHONE_NUMBER=

TELEGRAM_API_KEY=

# Database - connection string for MongoDB. Replace with your actual connection string.
MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<database_name>?authSource=admin

# MongoDB - database credentials and name. Replace with your actual credentials and database name.
MONGO_INITDB_ROOT_USERNAME=your_mongodb_username
MONGO_INITDB_ROOT_PASSWORD=your_mongodb_password
MONGO_INITDB_DATABASE=your_database_name
