# Environments variables
*.env
!*.env.example

# Cache and temporary files
.cache/

# Build artifacts
bin/
obj/
dist/
build/
artifacts/

# Local configuration files
*.local
*.vscode/

# Logs
*.log

# AI tooling state
.alt/